[Unit]
Description=RocketMQ Name Server
After=network.target 
[Service]
Type=simple
ExecStart=/data/rocketmq/bin/mqnamesrv 
ExecStop=/data/rocketmq/bin/mqshutdown namesrv
[Install]
WantedBy=multi-user.target
